@import url('http://fonts.cdnfonts.com/css/barlow');

.main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: radial-gradient(213.17% 135.68% at 53.72% 129.95%, #3C3C3C 0%, #000000 60.33%);
}

.sideline {
    position: absolute;
    width: 7.875rem;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #bdcfe0;
}

.logo {
    position: absolute;
    left: 34%;
    right: 94.5%;
    top: 5.58%;
    bottom: 93.54%;
    background: #000000;
}

.side-text {
    position: absolute;
    width: 36rem;
    height: 1.375rem;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    left: -13rem;
    top: 20.375rem;
    /* top: 320px; */
    letter-spacing: 1.2em;
    text-transform: uppercase;
    color: #282828;
    transform: rotate(90deg);
}

.navbar {
    text-align: center;
}

.navbar ul {
    display: inline-flex;
    list-style: none;
    overflow: hidden;
}

.navbar li {
    padding: 1.5rem;
    margin: 0 2rem;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 0.938rem;
    line-height: 1.125rem;
    letter-spacing: 0.135em;
    color: #FFFFFF;
    cursor: pointer;
}

.text {
    position: absolute;
    left: 9.313rem;
    top: -7.56rem;
}

.head-text {
    position: absolute;
    width: 31.2rem;
    height: 3.875rem;
    left: 1.5rem;
    top: 4.25rem;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 900;
    font-size: 4.2rem;
    line-height: 12.813rem;
    color: #FFFFFF;
}

.mid-text {
    position: absolute;
    width: 21.375rem;
    /* height: 3.125rem; */
    left: 1rem;
    top: 17rem;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}

.price {
    position: absolute;
    left: 0.875rem;
    top: 23rem;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 500;
    font-size: 2.6rem;
    color: #FFFFFF;
}

.para {
    position: absolute;
    width: 29.625rem;
    left: 0.875rem;
    top: 30rem;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 2rem;
    letter-spacing: 0.05em;
    color: #C2D4E3;
}

.btn {
    position: absolute;
    width: 7.813rem;
    height: 3.159rem;
    left: 0.7rem;
    top: 39.25rem;
    background: #CBD6E0;
    border-radius: 1.705rem;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 0.813rem;
    line-height: 1.125rem;
    color: #171717;
}

.shoe {
    position: absolute;
    left: 22.813rem;
    top: -13.404rem;
}

.shoe img {
    padding-top: 8.875rem;
    width: 80%;
    /* padding-right: 1.25rem; */
    margin-left: 12rem;
}

.shadow {
    position: absolute;
    width: 40.625rem;
    height: 2.125rem;
    left: 22.125rem;
    top: 50rem;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) -7%, rgba(0, 0, 0, 0.96) 100%);
    filter: blur(0.625rem);
    border-radius: 6.875rem;
    transform: rotate(356deg);
}

.ellipse-bg {
    position: absolute;
    width: 12.5rem;
    height: 12.5rem;
    left: 54.688rem;
    top: 8.438rem;
    border-radius: 7.188rem;
    background: rgba(125, 125, 125, 0.15);
    backdrop-filter: blur(2.625rem);
}

.ellipse-top {
    position: absolute;
    width: 5.625rem;
    height: 5.625rem;
    left: 43rem;
    top: 5.625rem;
    border-radius: 3.75rem;
    background: rgba(125, 125, 125, 0.15);
    backdrop-filter: blur(0.938rem);
}

.ellipse-bottom {
    position: absolute;
    width: 11.875rem;
    height: 11.875rem;
    left: 62.5rem;
    top: 22.5rem;
    border-radius: 7.188rem;
    background: rgba(125, 125, 125, 0.11);
    backdrop-filter: blur(0.938rem);
}

.ellipse-right {
    position: absolute;
    width: 11.25rem;
    height: 11.25rem;
    left: 75.625rem;
    top: 10.313rem;
    border-radius: 6.875rem;
    background: rgba(125, 125, 125, 0.2);
    backdrop-filter: blur(0.938rem);
}