@import url('http://fonts.cdnfonts.com/css/barlow');

.main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: radial-gradient(213.17% 135.68% at 53.72% 129.95%, #3C3C3C 0%, #000000 60.33%);
}

.sideline {
    position: absolute;
    width: 7.875rem;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: #bdcfe0;
}

.logo {
    position: absolute;
    left: 34%;
    right: 94.5%;
    top: 4.58%;
    bottom: 93.54%;
    background: #000000;
}

.side-text {
    position: absolute;
    width: 36rem;
    height: 1.375rem;
    left: -13rem;
    top: 23rem;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-align: center;
    letter-spacing: 1.2em;
    text-transform: uppercase;
    color: #282828;
    transform: rotate(90deg);
}

.navbar {
    text-align: center;
}

.navbar ul {
    display: inline-flex;
    list-style: none;
    overflow: hidden;
}

.navbar li {
    padding: 2rem;
    margin: 0 2rem;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 0.938rem;
    line-height: 1.125rem;
    letter-spacing: 0.135em;
    color: #FFFFFF;
    cursor: pointer;
}

.text {
    position: absolute;
    left: 10.313rem;
    top: -5.313rem;
}

.head-text {
    position: absolute;
    width: 32.542rem;
    height: 6.875rem;
    left: 1.5rem;
    top: 4.25rem;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 900;
    font-size: 4.381rem;
    line-height: 12.813rem;
    color: #FFFFFF;
}

.mid-text {
    position: absolute;
    width: 24.375rem;
    height: 3.125rem;
    left: 1rem;
    top: 17.625rem;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}

.price {
    position: absolute;
    left: 0.875rem;
    top: 24rem;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 500;
    font-size: 2.813rem;
    color: #FFFFFF;
}

.para {
    position: absolute;
    width: 30.625rem;
    left: 0.875rem;
    top: 31.875rem;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 2rem;
    letter-spacing: 0.05em;
    color: #C2D4E3;
}

.btn {
    position: absolute;
    width: 7.813rem;
    height: 3.159rem;
    left: 0.7rem;
    top: 41.25rem;
    background: #CBD6E0;
    border-radius: 27.2727px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 0.813rem;
    line-height: 1.125rem;
    color: #171717;
}

.shoe {
    position: absolute;
    left: 365px;
    top: -214.46px;
}

.shoe img {
    padding-top: 11.875rem;
    width: 80%;
    padding-right: 1.25rem;
    margin-left: 12.188rem;
}

.shadow {
    position: absolute;
    width: 40.625rem;
    height: 2.125rem;
    left: 23.125rem;
    top: 49.125rem;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) -7%, rgba(0, 0, 0, 0.96) 100%);
    filter: blur(0.625rem);
    border-radius: 12.5rem;
    transform: rotate(-6.4deg);
}

.ellipse-bg {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 875px;
    top: 135px;
    border-radius: 115px;
    background: rgba(125, 125, 125, 0.15);
    backdrop-filter: blur(42px);
}