@import url('http://fonts.cdnfonts.com/css/barlow');

.sideline {
    position: absolute;
    width: 7.875rem;
    height: 110%;
    left: 0px;
    top: 0px;
    background: #bdcfe0;
}

.logo {
    position: absolute;
    left: 30%;
    right: 94.5%;
    top: 6%;
    bottom: 93.54%;
    background: #000000;
}

.side-text {
    position: absolute;
    width: 38.75rem;
    height: 1.375rem;
    left: -14.125rem;
    top: 26rem;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1.585em;
    text-transform: uppercase;
    color: #282828;
    transform: rotate(90deg);
}